body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p{
  margin-top: 10px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

img{
  width: 21%;
}


.hintBtn{
  visibility: hidden;
}


footer{
  position: fixed;
  height: 30px;
  width: 100%;
  bottom: 0;
  background-color: #CDF0EA;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  font-size: 1rem;
  /* margin-left: 50px;
  margin-right: 50px; */
  /* float: left; */
  font-weight: bold;
  margin-top: 20px;
}

footer button{
  margin-top: 6px;
  margin: 6px 30px;
  height: 25px;
  padding-top: 2px;
}

@media(max-width: 1028px) {
  h1{
    font-size: 5rem;
  }

  p{
    font-size: 1.9rem;
    margin: 10px 130px 0 130px;
  }

  .salaam{
    margin: 10px 10px 0 10px;
  }

  .feedback{
    margin-top: 100%;

  }

  .title{
    margin-top: 50%;
  }

  .title-btn{
    margin-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
  }

  footer p{
    font-size: 1.8rem;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
  }

  footer button{
    margin-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
